card-callout {
  display: block;
  position: relative;
  padding: var(--space-s) var(--space-s) var(--space-s) var(--space-xl);
  margin: 0 0 var(--space-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: light-dark(var(--color-blue-20), var(--color-blue-80));
  border-left: var(--space-xxs) solid var(--color-blue-50);
  border-radius: var(--space-s);

  &::before {
    position: absolute;
    content: "ℹ️";
    left: var(--space-s);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &.tip {
    background: light-dark(var(--color-green-20), var(--color-green-80));
    border-color: var(--color-green-50);

    &::before {
      content: "💡";
    }
  }

  &.note {
    background: light-dark(var(--color-neutral-20), var(--color-neutral-80));
    border-color: var(--color-neutral-50);

    &::before {
      content: "💬";
    }
  }

  &.caution {
    background: light-dark(var(--color-orange-20), var(--color-orange-80));
    border-color: var(--color-orange-50);

    &::before {
      content: "⚠️";
    }
  }

  &.danger {
    background: light-dark(var(--color-pink-20), var(--color-pink-80));
    border-color: var(--color-pink-50);

    &::before {
      content: "🚨";
    }
  }
}
