module-listnav module-lazyload {
	contain: inline-size;
}

@media screen and (min-width: 48em) {
	module-listnav {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: var(--space-xl);

		& module-lazyload {
			& h1,
			& h2,
			& h3,
			& h4,
			& h5,
			& h6 {
				margin-top: 0;
			}
		}
	}
}
